__pycache__/
*.py[cod]
*$py.class

.venv/
env/
venv/

.ipynb_checkpoints/

*.pyo
*.pyd
*.pdb

.vscode/
.idea/

*.log
*.pid
*.sock
.env
.env.*

*.db
*.sqlite
*.bak

.DS_Store
Thumbs.db

.coverage
htmlcov/
.tox/
.pytest_cache/

logs/

